<!-- サイトバーメニュー -->
<nav class="sidebar">
    <div class="pb-1 pt-5">
        <h4>
            MENU ALL
        </h4>
    </div>
    <ul class="nav flex-column m-o p-2">
        <li class="nav-item-menu mb-2">
            <a href="{% url 'movie:saved_movie' %}" class="nav-link">MOVIE</a> 
        </li>
        <li class="nav-item-menu mb-2">
            <a href="" class="nav-link">BLOG</a>
        </li>
        <li class="nav-item-menu mb-2">
            <a href="{% url 'idea:idea_home' %}" class="nav-link">IDEA</a>
        </li>
        <li class="nav-item-menu mb-2">
            <a href="{% url 'book:saved_book' %}" class="nav-link">Book</a>
        </li>
        <li class="nav-item-menu mb-2">
            <a href="{% url 'english:get_youtube_data' %}" class="nav-link">English</a>
        </li>
        <div class="pb-1 pt-5">
            <h4>
                LOGOUT
            </h4>
        </div>
        <li class="nav-item-menu mb-2">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>
<!-- サイトバーメニュー -->